<main class="mobile" style="margin: 12vh">
    {{!-- Dynamic page title & creator name and date posted --}}
    <h1> {{title}} </h1>
    <p>Created by: {{user.name}}, on: {{format_date created_at}}</p>

    {{!-- Dynamic post content --}}
    <div class="mobile" style="margin: 12vh">
        {{content}}
    </div>

    {{!-- Dynamic conditional that will allow user thats logged in to post a comment on post --}}
    <div>
        {{#if loggedIn}}
            <form id="commentForm">
                <div class="mb-3">
                    <label for="postComment" class="form-label">Comment: </label>
                    <textarea class="form-control" id="postComment" rows="3" placeholder="Comment . . ."></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
        {{/if}}
    </div>

    {{!-- Dynamic display of comment history --}}
    <div style="">
        <h4>Comments:</h4>
        {{#each comments as |comment|}}
            <div>
                <p>{{comment.content}}<br>Commented by: {{user.name}}, on: {{format_date created_at}}</p>
            </div>
        {{/each}}
    </div>
</main>
{{!-- JS link --}}
<script src="/js/newComment.js"></script>